<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - Rceitas</title>
</head>
<body>
    <h1 style="color:blue;">Bem-vindo ao site de receitas - Parte de contatos</h1>
    <button id="myButtonPython">Clique aqui</button>


    <script>
        const button = document.getElementById('myButtonPython');
        button.addEventListener('click', () => {
            alert("Botão clicado do contato!");
        });
    </script>
</body>
</html>